@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    margin: 5em 0em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "glass";
  }
  
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(25% at 70% 80%);
  }
  body::after {
    content: "";
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 70%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(25% at 35% 15%);
  }

  img:hover{
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.container {
    grid-area: glass;
    justify-self: center;
    color: #bfbfbf;
    position: relative;
    text-transform: capitalize;
    text-align: center;
    top: 200px;
    right: 45px;
    padding: 20px;
    width: 200px;
    height: 250px;
    border-radius: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
    
}

.container sub {
    font-size: 0.875em;
    font-weight: 200;
    vertical-align: middle;
    color: #bfbfbf;
}

.container .card {
    width: 263px;
    height: 386px;
    border-radius: 16px 50px 16px 16px;
    background: #FFFFFF;
    box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.25);
    position: relative;
    
}
.shoes {
    position: absolute;
    top: -200px;
    right: -120px;
    z-index: 99;
}

.shadow {
    width: 100%;
    height: 100%;
    border-radius: 16px 50px 16px 16px;
    position: absolute;
    overflow: hidden;
    
}

.shadow:after {
    content: '';
    width: 400px;
    height: 300px;
    position: absolute;
    background: linear-gradient(114.61deg, rgba(196, 196, 196, 0.3) -19.56%, rgba(196, 196, 196, 0) 120%);
    border-radius: 50%;
    transform: rotate(20deg);
    top: -160px;
    left: -20px;
}

.card-content {
    width: 100%;
    height: 100%;
    padding: 120px 20px 0;
    font-family: 'Montserrat', sans-serif; 
    
}

.subtitle {
    font-weight: 700;
    color: #8F8F8F;
    font-size: 14px;
}

.title {
    margin-top: 8px; 
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: #29455F;
}

.price {
    margin: 10px 0 ;
    text-align: right;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 22px;
    color: #29455F;
}

span {
    font-size: 14px;
    color: #808080;
    margin-right: 5px;
}

.actions-container {
    display: flex;

}

.shoes-options {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.shoes-options p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #808080;
}

.color-options {
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.color {
    width: 18px;
    height: 18px;
    background: #85DB48;
    border-radius: 50%;
    
}

.color selected {
    width: 21px;
    height: 21px;
    position: relative;
}
/* Erro na borda */
.color:after { 
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.06);
    top: 285px;
    left: 43px;
}

.color {
    margin-left: 25px;
}

.color:nth-child(2) {
    background: #FF3838 ;
}

.color:nth-child(3) {
    background:  #3864FF;
}

.size-options {
    display: flex;
    margin: 10px 0;
    transition: .5s;
}

.size {
    font-size: 0.875em;
    font-weight: 200;
    margin: 3px 1px 10px 0px;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
    transition: 0.5s;
    width: 23px;
    height: 23px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #808080;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    
}

.size.selected {
    background: #85DB48;
    color: white;
    border: 0px;
    font-weight: bold;
}

.size .size.selected:hover {
    color: #000;
}
.cart{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart button {
    position: absolute;
    width: 49px;
    height: 79px;
    left: 189px;
    top: 260px;
    background: #B5DB48;
    border-radius: 16px;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/*.cart img {
    width: 60px;
    height: 50px;
}
*/
.shop-cart {
    margin-top: 1px;
}